
#mainImg{
    border-radius: 0;
    min-width: 100%;
    height:350px;
    border: 0;

}

.container {
    width: 100%;
    text-align: center;
    position: relative;
    height:auto;
}

p, h1{
   color: white;

}
h1{
    display: flex;
    justify-content: flex-start;
}

.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-80%, -50%);
    width: 400px;
    height: auto;
}