header{
  grid-area: header;
}
aside{
  grid-area: aside;
}
main{
  grid-area: main;
}

.gridContainer{
  justify-content: start;
  display: grid;
  grid-template-columns: 10% 20% 35% 35%;
  grid-template-rows: auto 20px auto;
  grid-template-areas:
    "header header header header"
    ". . . ."
    ". aside main main"

}